<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cnd.birdapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirdApps"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ui.view.menu.MainMenuLogActivity"></activity>
        <activity android:name=".ui.view.menu.MainMenuActivity" />
        <activity android:name=".ui.view.article.ListArticleActivity" />
        <activity android:name=".ui.view.article.InputArticleActivity" />
        <activity android:name=".ui.view.article.DetailArticleActivity" />
        <activity android:name=".ui.view.user.UserActivity" />
        <activity android:name=".ui.view.SplashSceenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>